@{
    ViewBag.Title = "Edit Book";
    ViewData["Active_Book"] = "active";
}
<!-- Page Heading -->
<div class="align-items-center justify-content-between mb-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Book")">Manage Books</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card shadow mb-4 border-bottom-primary">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    Html.RenderPartial("_Form");

                    <div class="form-group text-center">
                        <div class="col-md-12">
                            <input type="submit" value="Update" class="btn btn-outline-primary w-50" />
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>

    <div class="col-12 col-lg-6">
        <img class="img-fluid" id="outputImg" style="height:400px;width:auto" />
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var loadFile = function (event) {
                var reader = new FileReader();
                reader.onload = function () {
                    var output = document.getElementById('outputImg');
                    output.src = reader.result;
                };
                reader.readAsDataURL(event.target.files[0]);
            };


            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
                loadFile(event);
            });
        });
    </script>
}