@model LibraryManagement.Models.StudentBundle
@{
    ViewBag.Title = "Student Details";
    ViewData["Active_Student"] = "active";
}


<!-- Page Heading -->
<div class="align-items-center justify-content-between mb-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Student")">Manage Students</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card shadow mb-4 border-bottom-primary">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    @ViewBag.Title
                </h6>
            </div>
            <div class="card-body">
                @{
                    if (ViewBag.Error == 1)
                    {
                        <hgroup>
                            <h1 class="text-center text-danger">Error.</h1>
                            <h3 class="text-center">An error occurred while processing your request.</h3>
                        </hgroup>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <h2 class="text-center text-primary">Student Details</h2>
                                <hr />
                                <table class="table table-borderless">
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <td>
                                            @Model.StudentDetails.Name
                                        </td>
                                        <th>
                                            Mobile
                                        </th>
                                        <td>
                                            @Model.StudentDetails.Mobile
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Email
                                        </th>
                                        <td>
                                            @Model.StudentDetails.Email
                                        </td>
                                        <th>
                                            Address
                                        </th>
                                        <td>
                                            @Model.StudentDetails.Address
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            City
                                        </th>
                                        <td>
                                            @Model.StudentDetails.City
                                        </td>
                                        <th>
                                            State
                                        </th>
                                        <td>
                                            @Model.StudentDetails.State
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Pin Code
                                        </th>
                                        <td>
                                            @Model.StudentDetails.PinCode
                                        </td>
                                        <th>
                                            Current Books Issued
                                        </th>
                                        <td>
                                            @Model.StudentDetails.BookIssuedCount
                                        </td>
                                    </tr>
                                </table>
                                <hr />
                                <div class="text-center">
                                    <a class="btn w-50 btn-outline-secondary" href="@Url.Action("Edit", new { id = Model.StudentDetails.ID })">Edit</a>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-12 col-lg-12 col-md-12">
                                <h2 class="text-center text-primary">
                                    Issue Details
                                </h2>
                            </div>

                            <div class="col-12 col-lg-12">
                                <table class="table" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Sl no.
                                            </th>
                                            <th>
                                                Book ID
                                            </th>
                                            <th>
                                                Issue Date
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Return date / Returned on
                                            </th>
                                        </tr>
                                    </thead>

                                    @{ int i = 1; }
                                    @foreach (var item in Model.IssueDetails)
                                    {
                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details", "Book",  new { id = item.BookISBN })">
                                                    @item.BookISBN <br />
                                                    <span class="text-black-50">@item.BookTitle</span>
                                                </a>
                                            </td>
                                            <td>
                                                @item.IssueDate.ToLongDateString()
                                            </td>
                                            <td>
                                                @if (item.Status == 0)
                                                {
                                                    <span class="font-weight-bold text-danger">Return Pending</span>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-bold text-success">Returned</span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.Status == 0)
                                                {
                                                    @item.ReturnDate.ToLongDateString()
                                                }
                                                else
                                                {
                                                    @item.ReturnedOn.ToLongDateString()
                                                }
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                    <tfoot>
                                        <tr>
                                            <th>
                                                Sl no.
                                            </th>
                                            <th>
                                                Book ID
                                            </th>
                                            <th>
                                                Issue Date
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Return date / Returned on
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
